<div class="coupon">
  <div class="coupon-top">
    <span class="title"><%= title %></span>
    <span class="description"><%= description %></span>
  </div>
  <div class="coupon-bottom">
    <span class="num"><%= num %></span>
    <span class="label"><%= label %></span>
  </div>
  <div class="coupon-image">
    <img src="./assets/images/<%= img %>" alt="<%= title %>"/>
  </div>
</div>